<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* Include Bootstrap *@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/circular-std/style.css" rel="stylesheet" />
    <link href="~/Content/template.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/fonts/fontawesome/css/fontawesome-all.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="dashboard-main-wrapper">
        @{
            Html.RenderPartial("Header");
        }

        @RenderBody()
    </div>

    <script src="~/Scripts/script.js"></script>
</body>
</html>
