@{
    @* Вказуємо обгортку для нашої сторінки *@
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using VasyanStore.Client.Models;
@model IEnumerable<GameViewModel>

<div>
    @{
        Html.RenderPartial("Partial/Sidebar");
    }

    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            @{
                Html.RenderPartial("Partial/GamesPartial", Model);
            }
        </div>
    </div>

</div>